//default 
$default-font-family: Roboto, "Helvetica Neue", sans-serif;
$default-width: 500px;
$toolbar-header-width: calc($default-width - 40px);

//colors
$toolbar-color: #272727;
$dialog-color: #212121;
$error-color: #ff6961;
$btn-color: #fda560;
$pb-buffer-color: #616161;